<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485917904765-jbm5i72njcvqsjbl3451hh16v7hl2oad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485917904765-jbm5i72njcvqsjbl3451hh16v7hl2oad</string>
	<key>API_KEY</key>
	<string>AIzaSyDhD-MeJh7UBcqGk1x4A68GR4z4A9nPFLk</string>
	<key>GCM_SENDER_ID</key>
	<string>485917904765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.nasmcpt</string>
	<key>PROJECT_ID</key>
	<string>nasm-cpt-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>nasm-cpt-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485917904765:ios:636b0cf6697ba6da71c614</string>
</dict>
</plist>